*{
  position: relative;
}
.section{
  overflow: hidden;
}
.container{
  height: 200px;
  background: red;
}

.container-fluid{
  height: 300px;
  background: blue;
}
.row{

  background: blue;
  .col{
    height: 80px;
    border: 1px solid black;
    box-sizing: border-box;
    background: darkgreen;
  }
}
.form-group{
  width: 50%;
}
#main{
  h2{
    opacity: 0;
  }
  //@for $i  from 1 through 4{
  //  $yanse:red,black,blue,yellow;
  //  &>div:nth-child(#{$i}){
  //    text-align: center;
  //    color: #fff;
  //    font-size: 80px;
  //    background:nth($yanse,$i);
  //  }
  //}
.xian{
  width: 0;
  height: 2%;
  background: green;
  margin: 0 auto;
}
  span{
    opacity: 0;
  }
  @keyframes diao {
    0%{
      transform: translateY(-1000%);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes shang {
    0%{
      transform: translateY(1000%);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes xian {
    0%{
      width: 0;
    }
    100%{
      width: 30%;
    }
  }
  .section.fp-completely h2{
    animation: diao .5s ease forwards 0.2s;
  }
  .section.fp-completely .xian{
    animation: xian .5s ease forwards 0.8s;
  }
  .section.fp-completely span{
    animation: shang .5s ease forwards 1.2s;
  }
}

//banner
.section.banner{
  background:url("../img/Z.jpg") no-repeat center center;
  background-size: 100% 100%;
  img:nth-child(1){
    position: absolute;
    top:0;
    right: 0;
  }
  .yunsan{
    position: absolute;
    top:0;
    right: -800px;
  }
  .yuner{
    position: absolute;
    top:200px;
    right: -200px;
  }
  .yunsi{
    position: absolute;
    top:200px;
    right: -800px;
  }
  .hai{
    width: 100%;
    height: 126px;
    background: url("../img/sdfsdfsdfsdf.jpg");
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .jiantou{
    width: 30px;
    height: 26px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;
    background: url("../img/ghNzpzy6JjvgF7TDldfITRrcAAAAASUVORK5CYII=.png");
  }
  .bingshanyi{
    z-index: 10;
    width: 265px;
    height: 175px;
    background: url("../img/dRlwlm3WHvAAAAAElFTkSuQmCC.png");
    position: absolute;
    left: 100px;
    bottom: 1px;
  }
  .bingshaner{
    width: 260px;
    height: 175px;
    background: url("../img/5B1squyqG+wAAAAASUVORK5CYII=.png");
    position: absolute;
    right: 100px;
    bottom: -2px;
  }
  .bingshansan{
    width: 63px;
    height: 78px;
    background: url("../img/RyOwvmmVtgxu4OWIAAAAASUVORK5CYII=.png");
    position: absolute;
    right: 450px;
    bottom: 61px;
  }
  .chuan{
    width: 242px;
    height: 228px;
    background: url("../img/vf2+13kr3kAAAAASUVORK5CYII=.png");
    position: absolute;
    left: 200px;
    bottom: 88px;
  }
  .zi{
    width: 510px;
    height: 158px;
    background: url("../img/1HQwsTGLWNQAAAABJRU5ErkJggg==.png") no-repeat center center;
    background-size: 100%;
    position: absolute;
    left: 250px;
    top: 180px;
  }
  .feiji{
    width: 119px;
    height: 78px;
    background: url("../img/d0sBxYUwAAAABJRU5ErkJggg==.png") no-repeat center center;
    background-size: 100%;
    position: absolute;
    left: 550px;
    top: 160px;
  }
  .denglu{
    width: 340px;
    height: 300px;
    background: url("../img/捕获_看图王.png");
    left:900px;
    top: 200px;
    position: relative;
    .yonghu{
      width: 265px;
      height: 40px;
      background: red;
      position: absolute;
      right: 20px;
      top: 27px;
      input{
        width: 100%;
        height: 100%;
        border: none;
        text-decoration: none;
        list-style: none;
        outline: none;
        color: #666;
      }
    }
    .mima{
      width: 265px;
      height: 40px;
      background: red;
      position: absolute;
      right: 20px;
      top: 87px;
      input{
        width: 100%;
        height: 100%;
        border: none;
        text-decoration: none;
        list-style: none;
        outline: none;
        color: #666;
      }
    }
    .yanzheng{
      width: 141px;
      height: 40px;
      background: red;
      position: absolute;
      left: 20px;
      top: 147px;
      input{
        width: 100%;
        height: 100%;
        border: none;
        text-decoration: none;
        list-style: none;
        outline: none;
        color: #666;
        box-sizing: border-box;
        padding-left: 20px;
      }
    }
  }
}
//danao
.section.danao{
  background:url("../img/sdfsdfsdfsdf.jpg") no-repeat center center;
  background-size: 100% 100%;
  .jiantou{
    width: 30px;
    height: 26px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;
    background: url("../img/ghNzpzy6JjvgF7TDldfITRrcAAAAASUVORK5CYII=.png");
  }
  .lingxian{
    width: 500px;
    height: 126px;
    position: relative;
    top:300px;
    left: 200px;
    .zi{
      width: 66px;
      height: 126px;
      background: url("../img/6kAAAAASUVORK5CYII=.png") no-repeat;
    }
    h4{
      position: absolute;
      right: 50px;
      top: 0;
      display: block;
      width: 414px;
      height: 48px;
      float: right;
      color: #fff;
      font-size: 45px;
      text-align: center;
      line-height: 48px;
    }
    p{
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      color: #fff;
      width: 414px;
      height: 48px;
      font-size: 20px;
    }
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s ease;
  }
  .naozi{
    width: 444px;
    height: 427px;
    position: absolute;
    right: 0;
    top:100px;
    opacity: 0;
    transition: all 1s ease;
    background: url("../img/wER5sZKhPFeTAAAAABJRU5ErkJggg==.png");
  }
  .fangzi1{
    width: 44px;
    height: 44px;
    background: greenyellow;
    position: absolute;
    bottom: 0;
    left: 500px;
  }
  .fangzi2{
    width: 88px;
    height: 88px;
    background: #008065;
    position: absolute;
    bottom: 0;
    left: 412px;
  }
  .fangzi3{
    width: 44px;
    height: 44px;
    background: greenyellow;
    position: absolute;
    bottom: 0;
    left: 300px;
  }
  .fangzi4{
    width: 44px;
    height: 44px;
    background: forestgreen;
    position: absolute;
    bottom: 0;
    left: 1000px;
  }
  .fangzi5{
    width: 44px;
    height: 44px;
    background: greenyellow;
    position: absolute;
    bottom: 0;
    left: 1100px;
  }
}
//quanmian
.section.quanmian{
  background:url("../img/sdfsdfsdf.jpg") no-repeat center center;
  background-size: 100% 100%;
  .dibu{
    width: 100%;
    height: 138px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/xAOYB+rZClvYHrIxA+v++l5ZqAnCI6gAAAABJRU5ErkJggg==.png");
  }
  .fangkuai1{
    width: 176px;
    height: 176px;
    background: url("../img/adadadasd.jpg") no-repeat center;
    position: absolute;
    top:250px;
    left: 250px;
  }
  .fangkuai2,.fangkuai3,.fangkuai4,.fangkuai5{
    width: 88px;
    height: 88px;
    background: cornflowerblue;
    position: absolute;
  }
  .fangkuai2{
       top:162px;
       left: 162px;
     }
  .fangkuai3{
    top:162px;
    left: 338px;
    background: lightgreen;
  }
  .fangkuai4{
    top:74px;
    left: 250px;
    background: deepskyblue;
  }
  .fangkuai5{
    top:250px;
    left: 426px;
    background: dodgerblue;
  }
  .jiantou{
    width: 30px;
    height: 26px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;
    background: url("../img/ghNzpzy6JjvgF7TDldfITRrcAAAAASUVORK5CYII=.png");
  }
  .lingxian{
    width: 500px;
    height: 126px;
    position: relative;
    top:300px;
    left: 200px;
    .zi{
      width: 66px;
      height: 126px;
      background: url("../img/UxWoxb4dXWQAAAABJRU5ErkJggg==.png") no-repeat;
    }
    h4{
      position: absolute;
      right: 10px;
      top: 0;
      display: block;
      width: 414px;
      height: 48px;
      float: right;
      color: #fff;
      font-size: 45px;
      text-align: center;
      line-height: 48px;
    }
    p{
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      color: #fff;
      width: 414px;
      height: 48px;
      font-size: 20px;
    }
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s ease;
  }
  .naozi{
    width: 444px;
    height: 427px;
    position: absolute;
    right: 0;
    top:250px;
    opacity: 0;
    transition: all 1s ease;
    background: url("../img/h9GKknYFSwOIQAAAABJRU5ErkJggg==.png")
  no-repeat center center;
  }
}
.section.zuihou{
  background:url("../img/sfsfsfsdf.jpg") no-repeat center center;
  background-size: 100% 100%;
  .dibu{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    text-align: center;
    line-height: 80px;
    a{
      color: #fff;
    }
  }
  .jiantou{
    width: 30px;
    height: 26px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;
    background: url("../img/ghNzpzy6JjvgF7TDldfITRrcAAAAASUVORK5CYII=.png");
  }
  .lingxian{
    width: 500px;
    height: 126px;
    position: relative;
    top:300px;
    left: 200px;
    .quan{
      width: 275px;
      height: 245px;
      position: absolute;
      top:-60%;
      left: 0;
      background: url("../img/A5OwUlDBY2G1AAAAAElFTkSuQmCC.png");
    }
    .zi{
      width: 66px;
      height: 126px;
      background: url("../img/8DIGPhZBhbZHsAAAAASUVORK5CYII=.png") no-repeat;
    }
    h4{
      position: absolute;
      right: 50px;
      top: 0;
      display: block;
      width: 414px;
      height: 48px;
      float: right;
      color: #fff;
      font-size: 45px;
      text-align: center;
      line-height: 48px;
    }
    p{
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      color: #fff;
      width: 414px;
      height: 48px;
      font-size: 20px;
    }
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s ease;
  }
  .naozi{
    width: 444px;
    height: 427px;
    position: absolute;
    right: 0;
    top:200px;
    opacity: 0;
    transition: all 1s ease;
    background: url("../img/wNKVZBrsPAldgAAAABJRU5ErkJggg==.png")
    no-repeat center center;
  }
}
//animate
.section.banner.fp-completely{
  .jiantou{
    animation: tt 1s ease infinite;
  }
  .chuan{
    animation: you 2s ease forwards;
  }
  .feiji{
    animation: fei 2s ease infinite;
  }
 .yunyi{
   animation: yunyun 70s linear infinite;
 }
  .yuner{
    animation: yunyun 70s linear infinite;
  }
  .yunsan{
    animation: yunyun 70s linear infinite;
  }
  .yunsi{
    animation: yunyun 70s linear infinite;
  }
}
.section.danao.fp-completely{
  .jiantou{
    animation: tt 1s ease infinite;
  }
  .lingxian{
    transform: translateX(5%);
    opacity: 1;
    .zi{
      animation: zhuan 2s ease 0.5s infinite;
    }
  }
  .naozi{
    transform: translateX(-40%);
    opacity: 1;
  }
}
.section.quanmian.fp-completely{
  .jiantou{
    animation: tt 1s ease infinite;
  }
  .lingxian{
    transform: translateX(5%);
    opacity: 1;
    .zi{
      animation: zhuan 2s ease 0.5s infinite;
    }
  }
  .naozi{
    transform: translateX(-40%);
    opacity: 1;
  }
}
.section.zuihou.fp-completely{
  .jiantou{
    animation: tt 1s ease infinite;
  }
  .lingxian{
    transform: translateX(5%);
    opacity: 1;
    .zi{
      animation: zhuan 2s ease 0.5s infinite;
    }
  }
  .naozi{
    transform: translateX(-90%);
    opacity: 1;
  }
}
@keyframes tt {
  0%{
    transform: translateY(0);
    opacity: 0.3;
  }
  50%{
    transform: translateY(50%);
    opacity: 0.5;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes you {
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(80%);
  }
}
@keyframes fei {
0%{
  transform: translateY(0);
}
  50%{
    transform: translateY(-50%);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes yunyun {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-150%);
  }
}
@keyframes zhuan {
  0%{
    transform: rotateY(0);
  }
  50%{
    transform: rotateY(360deg);
  }
  100%{
    transform: rotateY(0);
  }
}
